@model IList<Nuntius.Models.Source>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="@Html.DisplayFor(modelItem => item.UrlsToLogos.Medium)" alt="...">
            </a>
        </div>


    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(x => x[i].SourceId)
                    <input name="orderNumbers" type="checkbox" value="1" />
                </td>
                <td>
                    @Html.DisplayFor(x => x[i].Url)
                </td>
            </tr>
        }
        <div>
            <input type="submit" value="Unblock IPs" />
        </div>
    }

</div>
