@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
 <!--<img src="https://media.licdn.com/mpr/mpr/p/7/000/1d2/096/2590493.png" class="img-thumbnail" alt=""> --> 
<body>
    <div class="container">
        <div class="row">
            <h2 class="text-center">About us</h2>
            <h4 class="text-capitalize text-center">The team</h4>
            <hr />
            <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <img class="img-article-latest-news" src="http://cdn2.bigcommerce.com/server2000/balh3740/products/11094/images/3263/alan_partridge_1__21603.1396335511.1280.1280.jpg?c=2">
            </div>

            <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <img class="img-article-latest-news" src="http://cdn2.bigcommerce.com/server2000/balh3740/products/11115/images/3283/andy_pipkins__66085.1396335526.1280.1280.jpg?c=2">
            </div>

            <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <img class="img-article-latest-news" src="http://www.partypeople.company/uploads/1/7/6/2/17627711/s454377924454347902_p67_i34_w826.jpeg">
            </div>

            <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <img class="img-article-latest-news" src="http://www.partypeople.company/uploads/1/7/6/2/17627711/s454377924454347902_p51_i18_w794.jpeg">
            </div>
            <hr />
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>