@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="text-center">Contact</h2>
            <h4 class="text-center">Got a question?</h4>
            <hr />
        </div>
        
        <div class="col-sm-6 col-md-6 col-lg-6">
            <strong>Feedback:</strong>   <a href="mailto:feedback@nuntius.com">feedback@nuntius.com</a>
            <br />
            <strong>Support:</strong>   <a href="mailto:support@nuntius.com">support@nuntius.com</a>
            <br />
            <strong>Marketing:</strong>   <a href="mailto:marketingt@nuntius.com">marketing@nuntius.com</a>
        </div>
        <br />
    </div>
</body>
</html>

