@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="text-center">Contact</h2>
            <hr />
        </div>
        
        <div class="row">

                <i class="fa fa-comments-o"></i> Feedback &amp; Suggestions
                <i class="fa fa-question-circle"></i> Help Requests

        </div>


        <div class="col-sm-6 col-md-6 col-lg-6">
            <strong>Support:</strong>   <a href="mailto:support@nuntius.com">support@nuntius.com</a>
            <br />
            <strong>Marketing:</strong>   <a href="mailto:marketingt@nuntius.com">marketing@nuntius.com</a>
        </div>
        
        
        <br />

    </div>
</body>
</html>

