@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">




            <strong>Support:</strong>   <a href="mailto:support@nuntius.com">support@nuntius.com</a><br />
            <strong>Marketing:</strong>   <a href="mailto:marketingt@nuntius.com">marketing@nuntius.com</a><br />

    </div>
</body>
</html>

