
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="col-md-3">
        <div class="list-group">
            <a onclick="showtv(2641)" href="#" class="list-group-item clearfix">
                <img src="http://static.filmon.com/assets/channels/2641/logo.png" class="glyphicon glyphicon-trash" />
                DW English
            </a>
            <a onclick="showtv(298)" href="#" class="list-group-item clearfix">
                <img src="http://static.filmon.com/assets/channels/298/logo.png" class="glyphicon glyphicon-trash" />
                France24
            </a>
            <a onclick="showtv(4373)" href="#" class="list-group-item clearfix">
                <img src="http://static.filmon.com/assets/channels/4373/logo.png" class="glyphicon glyphicon-trash" />
                CD TV
            </a>
            <a onclick="showtv(2996)" href="#" class="list-group-item clearfix">
                <img src="http://static.filmon.com/assets/channels/2996/logo.png" class="glyphicon glyphicon-trash" />
                VOA English
            </a>
            <a onclick="showtv(1672)" href="#" class="list-group-item clearfix">
                <img src="http://static.filmon.com/assets/channels/1672/logo.png" class="glyphicon glyphicon-trash" />
                EuroNews English
            </a>
            <a onclick="showtv(81)" href="#" class="list-group-item clearfix">
                <img src="http://static.filmon.com/assets/channels/81/logo.png" class="glyphicon glyphicon-trash" />
                Bloomberg
            </a>
            <a onclick="showtv(4)" href="#" class="list-group-item clearfix">
                <img src="http://static.filmon.com/assets/channels/4/logo.png" class="glyphicon glyphicon-trash" />
                Aljazeera English
            </a>
            <a onclick="showtv(93)" href="#" class="list-group-item clearfix">
                <img src="http://static.filmon.com/assets/channels/93/logo.png" class="glyphicon glyphicon-trash" />
                Russia Today
            </a>
            <a onclick="showtv(4340)" href="#" class="list-group-item clearfix">
                <img src="http://static.filmon.com/assets/channels/4340/logo.png" class="glyphicon glyphicon-trash" />
                NEWSY World News
            </a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="bs-docs-section">
            <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
                <div id="titleid"></div>
                <div id="player" class="embed-responsive embed-responsive-16by9">

                </div>
            </div>
            <figure class="highlight">
                <div id="descriptionid"></div>
            </figure>
        </div>
    </div>
</div>